/* Variable Declared */

$main-background: #EBF6F8;
$orange: #ff5c00;
$grey-borders: #EBEBEB;
$black-text: #000;
$white: #fff;

$primary-font: "Roboto", sans-serif;
$secondary-font: "Open Sans", sans-serif;

//for breakpoints
$small: 720px;
$max-width: 1200px;

/* Variable Declared End */

/* General Page Styles */

.body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: $primary-font;
  margin: 10px 0px;
  line-height: 1.5;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

h6 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: $orange;
  margin: 0px;
}

p {
  color: $black-text;
  font-weight: 300;
  font-family: $secondary-font;
  text-align: center;
  font-size: 12px;
}

a {
  font-family: $secondary-font;
  font-size: 11px;
  font-weight: 400;
  color: $grey-borders;
}

.primary_button {
  background-color: $orange;
  color: $white;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 10px;
}

.primary_button:hover {
  background-color: $white;
  color: $orange;
  border-color: $orange;
  border: solid 1px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

/* General Page Styles End */

/* Menu Styles */

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-width;
  margin: auto;
  min-height: 90px;
  margin-bottom: -90px;
  z-index: 9999;
}

#header__logo {
  max-width: 70px;
  z-index: 9999;
  padding: 0px 20px;
}

#header__bag {
  max-width: 25px;
  max-height: 25px;
  z-index: 9999;
  padding-right: 40px;
}

/* Menu Styles End */

/* Body Styling Starts */

.section_col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  max-width: $max-width;
  margin: auto;
  height: 100vh;
  z-index: -1;
}

.section_col_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
}

#section_col_item_blue {
  background-color: $main-background;
}

.section_col_description {
  padding: 50px;
}

.section_col_description p {
  width: 320px;
}

.section_col_product {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  border: solid 0px;
  border-radius: 5px;
  box-shadow:
  0 6px 10px rgba(0, 0, 0, 0.01),
  0 6px 10px rgba(0, 0, 0, 0.01),
  0 6px 10px rgba(0, 0, 0, 0.01),
  0 6px 17.9px rgba(0, 0, 0, 0.01),
  0 6px 33.4px rgba(0, 0, 0, 0.01),
  0 30px 30px rgba(0, 0, 0, 0.12)
;
}

.section_col_product img {
  max-width: 180px;  
  }

.section_col_product h4 {
  width: 250px;
}

/* Body Styling Ends */

/* Footer Styling Starts */



/* Footer Styling Ends */

/* Moile Responsive Styling */

@media only screen and (min-width: 200px) and (max-width: 900px)  {

/* Menu Mobile Styles Start */

.header_menu {
margin-bottom: 0px;
}

#header__bag {
  padding-right: 20px;
}

.header_menu {
  min-height: 60px;
}

/* Menu Mobile Styles End */

/* Body Mobile Styling Starts */

p {
margin: 0px;
}

.section_col_description {
margin: 0px 20px 40px 20px;
padding: 0px;
}

.section_col_description p {
width: auto;
}

.section_col_product {
margin: 40px 20px 40px 20px;
}

.section_col_product img {
max-width: 180px;  
}

.section_col_product h4 {
width: auto;
}

}

/* Body Mobile Styling End */

@media only screen and (min-width: 600px) and (max-width: 900px)  {

  /* Menu Mobile Styles Start */
  
  .header_menu {
  margin-bottom: 0px;
  }
}

/* Moile Responsive Styling End */