/* Variable Declared */
/* Variable Declared End */
/* General Page Styles */
body, html {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: "Roboto", sans-serif;
  margin: 10px 0px;
  line-height: 1.5;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

h5 {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

h6 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ff5c00;
  margin: 0px;
}

p {
  color: #000;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 12px;
}

a {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #EBEBEB;
}

a:hover {
  color: #ff5c00;
}

.primary_button {
  background-color: #ff5c00;
  color: #fff !important;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  z-index: 20;
}

.primary_button:hover {
  background-color: transparent;
  color: #ff5c00 !important;
  border-color: #ff5c00;
  border: solid 1px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

/* General Page Styles End */
/* Menu Styles */
.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: auto;
  min-height: 90px;
  margin-bottom: -90px;
  z-index: 9999;
}

#header__logo {
  max-width: 70px;
  z-index: 99;
  padding: 0px 20px;
}

#header__bag {
  max-width: 25px;
  max-height: 25px;
  z-index: 10;
  padding-right: 40px;
}

/* Menu Styles End */
/* Body Styling Starts */
.section_col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  z-index: -1;
}

.section_col_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

#section_col_item_blue {
  background-color: #EBF6F8;
}

#transparent2 {
  background-color: red !important;
}

.section_col_description {
  padding: 50px;
}

.section_col_description p {
  width: 320px;
}

.section_col_product {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
  border: solid 0px;
  border-radius: 5px;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.01), 0 6px 10px rgba(0, 0, 0, 0.01), 0 6px 10px rgba(0, 0, 0, 0.01), 0 6px 17.9px rgba(0, 0, 0, 0.01), 0 6px 33.4px rgba(0, 0, 0, 0.01), 0 30px 30px rgba(0, 0, 0, 0.12);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.01), 0 6px 10px rgba(0, 0, 0, 0.01), 0 6px 10px rgba(0, 0, 0, 0.01), 0 6px 17.9px rgba(0, 0, 0, 0.01), 0 6px 33.4px rgba(0, 0, 0, 0.01), 0 30px 30px rgba(0, 0, 0, 0.12);
}

.section_col_product img {
  max-width: 180px;
}

.section_col_product h4 {
  width: 250px;
}

/* Body Styling Ends */
/* Side Bar Styling Starts */
.sidebar {
  height: 100%;
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  right: -125px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar_container {
  padding: 0px;
}

.sidebar_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid;
  border-color: #EBEBEB;
}

.sidebar_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #EBEBEB;
  margin: 20px 30px;
  padding: 0px 0px 20px 0px;
  max-width: 300px;
}

.sidebar_product img {
  max-width: 150px;
}

.sidebar_product_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidebar_product_description h4 {
  text-align: left;
  margin: 0px;
  font-size: 15px;
}

.sidebar_footer {
  padding: 30px 90px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid;
  border-color: #EBEBEB;
}

.sidebar_footer_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar_footer_description a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
}

.sidebar_footer_description a:hover {
  color: #ff5c00;
}

.cart_button {
  cursor: pointer;
}

#cart_button {
  font-size: 12px;
  padding: 10px 30px;
}

.hidden {
  -webkit-transform: translate(9999px);
          transform: translate(9999px);
  opacity: 0 !important;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9;
  top: 0;
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.close-container {
  position: relative;
  width: 160px;
  cursor: pointer;
}

.leftright {
  height: 2px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: #000;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.rightleft {
  height: 2px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: #000;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.close-container:hover .leftright {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #ff5c00;
}

.close-container:hover .rightleft {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ff5c00;
}

/* Side Bar Styling Ends */
/* Footer Styling Starts */
/* Footer Styling Ends */
/* Moile Responsive Styling */
@media only screen and (min-width: 200px) and (max-width: 900px) {
  /* Menu Mobile Styles Start */
  .header_menu {
    margin-bottom: 0px;
  }
  #header__bag {
    padding-right: 20px;
  }
  .header_menu {
    min-height: 60px;
  }
  /* Menu Mobile Styles End */
  /* Body Mobile Styling Starts */
  p {
    margin: 0px;
  }
  .section_col_description {
    margin: 0px 20px 40px 20px;
    padding: 0px;
  }
  .section_col_description p {
    width: auto;
  }
  .section_col_product {
    margin: 40px 20px 40px 20px;
  }
  .section_col_product img {
    max-width: 180px;
  }
  .section_col_product h4 {
    width: auto;
  }
}

/* Body Mobile Styling End */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  /* Menu Mobile Styles Start */
  .header_menu {
    margin-bottom: 0px;
  }
}

/* Sidebar Mobile Styling Start */
@media only screen and (min-width: 200px) and (max-width: 1200px) {
  .sidebar {
    width: 430px !important;
  }
  .sidebar_product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 230px;
  }
  .sidebar_footer {
    -ms-flex-line-pack: start;
    align-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
    padding: 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 300px;
  }
  #cart_button {
    margin-left: 0px;
  }
}

/* Sidebar Mobile Styling End */
/* Moile Responsive Styling End */
/*# sourceMappingURL=main.css.map */